flows.json
[{"id":"74f740a2.83a12","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2d188cb6.6f63c4","type":"ui_form","z":"74f740a2.83a12","name":"","label":"","group":"4b4cfb80.0eb544","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":260,"wires":[["c5fe91a9.32d11"]]},{"id":"c5fe91a9.32d11","type":"function","z":"74f740a2.83a12","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":260,"wires":[["44f93558.f9becc","5fcae3ea.b9cf6c"]]},{"id":"44f93558.f9becc","type":"watson-conversation-v1","z":"74f740a2.83a12","name":"","workspaceid":"e97a5732-6503-476c-8634-4d5838dbfae6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b0b58c51-e982-4fad-be98-6f7dddd1a275","timeout":"","optout-learning":false,"x":460,"y":260,"wires":[["4ed7668c.889818","4fc5e19e.34461"]]},{"id":"4fc5e19e.34461","type":"function","z":"74f740a2.83a12","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://arcatron.com/wp-content/uploads/2020/06/Post-Lockdown-Shopping-List-for-Essential-Covid-19-Products2.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["4ed7668c.889818","256f3a49.d60c46","8fa941c8.92a87","93743286.9c7cd"]]},{"id":"4ed7668c.889818","type":"debug","z":"74f740a2.83a12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":500,"wires":[]},{"id":"256f3a49.d60c46","type":"ui_template","z":"74f740a2.83a12","group":"4b4cfb80.0eb544","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":140,"wires":[[]]},{"id":"8fa941c8.92a87","type":"ui_audio","z":"74f740a2.83a12","name":"","group":"4b4cfb80.0eb544","voice":"de-DE","always":"","x":920,"y":260,"wires":[]},{"id":"5fcae3ea.b9cf6c","type":"ui_text","z":"74f740a2.83a12","group":"4b4cfb80.0eb544","order":2,"width":0,"height":0,"name":"","label":"Input from user:","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":140,"wires":[]},{"id":"93743286.9c7cd","type":"ui_text","z":"74f740a2.83a12","group":"4b4cfb80.0eb544","order":2,"width":0,"height":0,"name":"","label":"Bot Response:","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":360,"wires":[]},{"id":"4b4cfb80.0eb544","type":"ui_group","z":"","name":"Harshada Essential Product","tab":"3c9a7207.0711ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c9a7207.0711ae","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]